# Python Stuff
.ruff_cache/
__pycache__/

# Local Stuff
misc.txt
core/verification/keys/private_key.pem
core/exploits/*/logs/*
core/exploits/*/configs/*
first_run.txt

# Testing Stuff
core/color.py

# Editor Stuff
*.kate-swp 
.vscode

